<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, :size => '50x10' %>
  </div>
  <div class="field">
      <%= f.label :priority %>
      <%= f.text_field :priority %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, [['NYS', 1],['In Progress', 2],['In Review',3], ['Complete', 4]], :size => '' %>
  </div>
  <div class="field">
      <%= f.label :actual_time_in_hours %>
      <%= f.text_field :actual_time_in_hours %>
  </div>
  <div class="field">
      <%= f.label :estimated_time_in_hours %>
      <%= f.text_field :estimated_time_in_hours %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
