<p id="notice"><%= notice %></p>

<div id="header">
  <h1>Dynamic Task Manager</h1>

  <h2>Create tasks and track their progress</h2>
</div>

<h1>Listing tasks</h1>

<%= link_to 'New Task', new_task_path %>    

<div class="row">
<div class="span12">
Level 1 of column
<div class="row">
<div class="span3">Not Yet Started
  <% @tasks.each do |task| %>
    <% if task.status == 1 %>
    <ul>
      <li>ID: <%= task.id %></li>
      <li>Title: <%= task.title %></li>
      <li>User: <%= task.user_id %></li>
      <li>Description: <%= task.description %></li>
      <li>Priority: <%= task.priority %></li>
    </ul>
    <% end %>

  <% end %>
</div>
<div class="span3">In Progress
  <% @tasks.each do |task| %>
    <% if task.status == 2 %>
    <ul>
      <li>ID: <%= task.id %></li>
      <li>Title: <%= task.title %></li>
      <li>User: <%= task.user_id %></li>
      <li>Description: <%= task.description %></li>
      <li>Priority: <%= task.priority %></li>
    </ul>
    <% end %>

  <% end %>  
</div>
<div class="span3">In Review
  <% @tasks.each do |task| %>
    <% if task.status == 3 %>
    <ul>
      <li>ID: <%= task.id %></li>
      <li>Title: <%= task.title %></li>
      <li>User: <%= task.user_id %></li>
      <li>Description: <%= task.description %></li>
      <li>Priority: <%= task.priority %></li>
    </ul>
    <% end %>

  <% end %>  
</div>
<div class="span3">Complete
  <% @tasks.each do |task| %>
    <% if task.status == 4 %>
    <ul>
      <li>ID: <%= task.id %></li>
      <li>Title: <%= task.title %></li>
      <li>User: <%= task.user_id %></li>
      <li>Description: <%= task.description %></li>
      <li>Priority: <%= task.priority %></li>
    </ul>
    <% end %>

  <% end %>  
</div>
</div>
</div>
</div>
<hr>
<% @tasks.each do |task| %>
  
  <ul>
    <li>Title: <%= task.title %></li>
    <li>User: <%= task.user_id %></li>
    <li>Description: <%= task.description %></li>
    <li>Priority: <%= task.priority %></li>
    <li>Status: 
      <% if task.status == 1 %>
        <%= 'Not Yet Started' %>
      <% elsif task.status == 2 %>
        <%= 'In Progress' %>
      <% elsif task.status == 3 %>
        <%= 'In Review' %>
      <% elsif task.status == 4 %>
        <%= 'Complete' %>
      <% else %>
        <%= task.status %>
      <% end %>
    </li>
    <li>Estimated Time (hrs): <%= task.estimated_time_in_hours %></li>
    <li>Actual Time (hrs): <%= task.actual_time_in_hours %></li>
    <li><%= link_to 'Edit', edit_task_path(task) %> <%= link_to 'Delete', task, confirm: 'Are you sure?', method: :delete %></li>
  </ul>
<% end %>

<br />

<%= link_to 'New Task', new_task_path %>