<p id="notice"><%= notice %></p>

<div id="header">
  <h1>Dynamic Task Manager</h1>

  <h2>Create tasks and track their progress</h2>
</div>

<h1>Listing tasks</h1>

<%= link_to 'New Task', new_task_path %>    

<div class="row">
<div class="span12">

<div class="row">
<div class="span3">Not Yet Started
  <% @tasks.each do |task| %>
    <% if task.status == 1 %>
      <%= render "task", :task => task %>
    <% end %>

  <% end %>
</div>
<div class="span3">In Progress
  <% @tasks.each do |task| %>
    <% if task.status == 2 %>
      <%= render "task", :task => task %>
    <% end %>

  <% end %>  
</div>
<div class="span3">In Review
  <% @tasks.each do |task| %>
    <% if task.status == 3 %>
      <%= render "task", :task => task %>
    <% end %>

  <% end %>  
</div>
<div class="span3">Complete
  <% @tasks.each do |task| %>
    <% if task.status == 4 %>
      <%= render "task", :task => task %>
    <% end %>

  <% end %>  
</div>
</div>
</div>
</div>
<br />
<%= link_to 'New Task', new_task_path %>