<body>
<div id="header">
  <h1>Dynamic Task Manager</h1>

  <h2>Create tasks and track their progress</h2>
</div>

<h1>Listing tasks</h1>
    

<% @tasks.each do |task| %>
  <ul>
    <li>Title: <%= task.title %></li>
    <li>User: <%= task.user_id %></li>
    <li>Description: <%= task.description %></li>
    <li>Priority: <%= task.priority %></li>
    <li>Status: <%= task.status %></li>
    <li>Estimated Time (hrs): <%= task.estimated_time_in_hours %></li>
    <li>Actual Time (hrs): <%= task.actual_time_in_hours %></li>
    <li><%= link_to 'Edit', edit_task_path(task) %> <%= link_to 'Delete', task, confirm: 'Are you sure?', method: :delete %></li>
  </ul>
<% end %>

<br />

<%= link_to 'New Task', new_task_path %>
</body>