<p id="notice"><%= notice %></p>

<p>
  <b>Started on:</b>
  <%= @project.started_on %>
</p>

<p>
  <b>Completed on:</b>
  <%= @project.completed_on %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
