<div class="row">
<div class="span12">
<h1>Story Title <%= link_to '+', new_task_path(:story_id => story.id) %> </h1>
<div class="row">
<div class="span3">Not Yet Started
  <% story.tasks.each do |task| %>
    <% if task.status == 1 %>
      <%= render task %>
    <% end %>

  <% end %>
</div>
<div class="span3">In Progress
  <% story.tasks.each do |task| %>
    <% if task.status == 2 %>
      <%= render task %>
    <% end %>

  <% end %>  
</div>
<div class="span3">In Review
  <% story.tasks.each do |task| %>
    <% if task.status == 3 %>
      <%= render task %>
    <% end %>

  <% end %>  
</div>
<div class="span3">Complete
  <% story.tasks.each do |task| %>
    <% if task.status == 4 %>
      <%= render task %>
    <% end %>

  <% end %>  
</div>
</div>
</div>
</div>
<br />
<%= link_to 'New Task', new_task_path %>