<div class="row">
<div class="span12">
<h1>Story Title <%= link_to '+', new_task_path %> </h1>
<div class="row">
<div class="span3">Not Yet Started
  <% @tasks.each do |task| %>
    <% if task.status == 1 %>
      <%= render "tasks/task", :task => task %>
    <% end %>

  <% end %>
</div>
<div class="span3">In Progress
  <% @tasks.each do |task| %>
    <% if task.status == 2 %>
      <%= render "tasks/task", :task => task %>
    <% end %>

  <% end %>  
</div>
<div class="span3">In Review
  <% @tasks.each do |task| %>
    <% if task.status == 3 %>
      <%= render "tasks/task", :task => task %>
    <% end %>

  <% end %>  
</div>
<div class="span3">Complete
  <% @tasks.each do |task| %>
    <% if task.status == 4 %>
      <%= render "tasks/task", :task => task %>
    <% end %>

  <% end %>  
</div>
</div>
</div>
</div>
<br />
<%= link_to 'New Task', new_task_path %>