<div class="row">
<div class="span12">
<h1>Story Title <%= link_to '+', new_task_path(:story_id => story.id) %> </h1>
<div class="row">
<div class="span3">Not Yet Started
  <% story.tasks.each do |task| %>
    <%= render task if task.not_yet_started? %>
  <% end %>
</div>
<div class="span3">In Progress
  <% story.tasks.each do |task| %>
    <%= render task if task.in_progress? %>
  <% end %>  
</div>
<div class="span3">In Review
  <% story.tasks.each do |task| %>
    <%= render task if task.in_review? %>
  <% end %>  
</div>
<div class="span3">Complete
  <% story.tasks.each do |task| %>
    <%= render task if task.complete? %>
  <% end %>  
</div>
</div>
</div>
</div>
<br />